# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\go_workspace\src\fastgee\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
